# Dependencies
node_modules/

# Next.js
.next/
.turbo/
out/
.scrape/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
DATABASE.md
SETUP.md

# Editor
.idea/
.vscode/
*.swp

# Uploads (admin)
public/uploads/

# Memory Bank (local documentation)
memory-bank/
